/*Icon Fonts*/


.social-media a{
	display:block;
	float:left;
	width:70px;
	height:70px;
	border-radius:50px;
	margin-right:25px;
	@include add-background($white)
	transition-duration: 0.7s;
    transition-property: transform;
	}

	
.social-media a i{
	padding:20px 22px;
	font-size:$icon-font-size;
	}
	
.social-media a:hover{
	transform: scale(1.2);
	}
	